@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.workspace{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container{
    width: 500px;
    display: flex;
    flex-direction: column;
}


.container textarea{
    width: 400px;
    resize: vertical;
}

.navbar{
    margin-bottom: 50px;
}

.field{
    display: flex;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    position: relative;
    padding: 10px;
    border-radius: 8px;
}

.edit{
    margin-top: 20px;
    background-color:#f2f2f2 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}



/* Przyciski */

button{
    background-color: rgb(255, 255, 255);
    color: black;
}

button:hover{
    cursor: pointer;
}

.field button{
    background-color: white;
    border: none;
    position: absolute;
    right:2px;
    top: 2px
}

.navbar{
    width: 100%;
}
.navbar div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar div button{
    width: 48%;
    display: flex;
    justify-content: center;
}

.navbar button, .update-btn, #copy-btn, #download-btn{
    border: 2px solid grey;
    color: gray;
    /* width: 200px; */
    padding: 8px 0;
    font-weight: 600;
    border-radius: 8px;
    text-transform: uppercase;
}


.navbar button:hover, .update-btn:hover, #copy-btn:hover{
    border: 2px solid rgb(59, 59, 59);
    color: rgb(59, 59, 59);
}

.btn-cont{

}

#copy-btn, #download-btn{
    width: 367px;
    padding: 8px 0;
}


.update-btn{
    margin-top: 10px;
    width: 100%;
}


.field button:hover{
    cursor: pointer;
}

.edit-btns{
    display: flex;
}

.edit-btn{
    display: flex;
    flex-direction: column;
}

/* ----------------------- */
[data-title]{
    font-size: 20px;
}

.edit-btn [data-p]:first-child{
    background-color: rgb(255, 255, 255);
    border: 1px solid green;
    color: green;
    padding: 10px;
    border-radius: 10px;
}



/* PARAGRAPH */

[data-img], [data-title], [data-area], .edit-btns{
    margin-top: 10px;
}

.code-area{
    background-color: #f2f2f2;
    padding: 0 20px;
    margin-top: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Input */

input[type=text]{
    border: none;
    border-bottom: 1px solid rgb(83, 83, 83);
    margin: 4px;
    width: 70%;
}

.edit a{
    color:rgb(83, 83, 83)
}

/* Góra dół */

[data-up], [data-down]{
    position: absolute;
    left:7px;
    width: 12px;
    height: 12px;
    border-top: 2px solid rgb(75, 75, 75);
    border-left: 2px solid rgb(75, 75, 75);
}

[data-up]{
    top:7px;
    transform: rotate(45deg);
}

[data-down]{
    top: 20px;
    transform: rotate(-135deg);
}

[data-up]:hover, [data-down]:hover{
    cursor: pointer;
}

.edit :first-child > [data-up]{
    display: none;
}
.edit :first-child > [data-down]{
    top: 2px
}


.edit :last-child > [data-down]{
    display: none;
}